<aside>
    <h1>À propos de l'auteur</h1>
    <img src="assets/images/bulle.png" alt="" id="fleche_bulle" />
    <p id="photo_zozor"><img src="assets/images/zozor_classe.png" alt="Photo de Zozor" /></p>
    <p>Laisse-moi le temps de me présenter&nbsp;: je m'appelle Zozor, je suis né un 23 novembre 2005.</p>
    <p>Bien maigre, n'est-ce pas ? C'est pourquoi, aujourd'hui, j'ai décidé d'écrire ma biographie afin que vous sachiez qui je suis réellement.</p>
    <p><img src="assets/images/facebook.png" alt="Facebook" /><img src="assets/images/twitter.png" alt="Twitter" /><img src="assets/images/vimeo.png" alt="Vimeo" /><img src="assets/images/flickr.png" alt="Flickr" /><img src="assets/images/rss.png" alt="RSS" /></p>
</aside>